@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}


@*<body style="background-image: url(../../Images/Cosmetic-Camera001.jpg)">*@
    <body>
        <div class="jumbotron">
            <h1>ABCOSMETIC</h1>
            <p class="lead">Internal AP</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </body>
