@model IEnumerable<HProject.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Role</h2>

<p>
    @*@Html.ActionLink("Add a new role", "Create")*@
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.RoleName)*@
            Role's name
        </th>
        <th>
            Tool
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.RoleId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleId })
        </td>
    </tr>
}

</table>
